h1{

    color: red;
    font-size: 2em;
}

.bacon{
    background-color: green;
}

.circular{

    border-radius: 100%;
}
img{

    background-color: red;}

    #heading{

        color: blue;
    }
    img:hover{
        background-color: gold;
    }